.config/coc/extensions/
.config/Code/
.config/libreoffice/
.config/gnome-boxes*/
.config/gnome-boxes*/
.config/configstore/
.config/cmus/
.config/calibre/
.config/Code - OSS/
.config/google-chrome/
.config/blender/
.config/QtProject/
.config/aseprite/
.config/csharp.history
.config/discord/
.config/enchant/
.config/Electron/
.config/Postman/
.config/UnityHub/
.config/unity3d/
.config/VirtualBox/
.config/Unknown Organization/
.config/yay/
.config/Slack/
.config/Google/
.config/Kitware/
.config/godot/
.config/mono.addins/
.config/BraveSoftware/
.config/gtk-*/
.config/qutebrowser/
.config/Typora/
.config/Google/
.config/xfce4/
.config/GIMP/
.config/google-chrome-beta/
.config/evolution/
.config/mpd/
.config/sublime-text*/
.config/obs-studio/
.config/Microsoft/
.config/Hyper/
.config/ppsspp/
.config/matplotlib/
.config/XMind/
.scripts/smlformat/
.ccls_cache/
.mypy_cache/
*.fasl
