!------------------------------------------------
! Import colors
!--------------------------------------------------
! COLORSCHEME: "gruvbox"
!#include "./.colors/papercolor"

!--------------------------------------------------
! URxvt
!--------------------------------------------------

!URxvt.font: xft: Gohu GohuFont:size=12:
!URxvt.font: xft: Misc Tamsyn:size=19
!URxvt.font: xft: Everson Mono:size=16:style=Bold
!URxvt.font: xft: RobotoMono:size=14:style=Regular

!URxvt.font: xft: Tahoda:Regular:size=12:antialias=True, xfg: Wucon Siji, xft:WenQuanYi Micro Hei Mono:antialias=true
!URxvt.font: xft: Ubuntu Mono:size=14, xfg: Wucon Siji, xft:WenQuanYi Micro Hei Mono:antialias=true
!URxvt.font: xft: FiraCode-Medium:size=11, xfg: Wucon Siji, xft:WenQuanYi Micro Hei Mono:antialias=true, xft: Unifont:size=14, -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
URxvt.font: xft: APL385 Unicode:style=Regular:size=16:antialias=true, xfg: Wucon Siji, xft:WenQuanYi Micro Hei Mono:antialias=true, xft: Unifont:size=14, -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*

!URxvt.font: xft: ProggySquare TT:size=22:antialias=true, xft: Latin Modern MathJax:size=20, xft: DejaVu:size=18
!URxvt.font: xft: iosevka:size=13, xft: ProggySquare TT:size=18:antialias=true, xft: Latin Modern MathJax:size=20, xft: DejaVu:size=18

!xft: Everson Mono:size=14:style=bold, xft: Unifont:size=14, -*-unifont-*-*-*-*-*-*-*-*-*-*-*-*
!xft: ProggySquare TT:size=18:antialias=true,
URxvt.inputMethod: ibus
URxvt.imLocalec: zh_CN.eucjp, ja_JP.utf8
URxvt.preeditType: OverTheSpot

URxvt.lineSpace: 2
URxvt.scrollBar: false
URxvt.internalBorder: 0
URxvt.letterSpace: 0
Xft.autohint:           0
Xft.lcdfilter:          lcddefault
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.antialias:          1
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 0
twobwm.enable_compton: true

! URxvt perl extension
URxvt.perl-ext-common:  default,resize-font,clipboard

URxvt.keysym.C-minus:   resize-font:smaller
URxvt.keysym.C-equal:    resize-font:bigger
URxvt.keysym.C-plus:   resize-font:reset
URxvt.keysym.C-question:   resize-font:show

URxvt.clipboard.copycmd:  xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
